@model PagedList.IPagedList<WebNhac.Models.tbNguoiDung>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lí người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int index = (Model.PageNumber - 1) * 10 + 1;
    string xoa = "xoand";
}

<div class="content">
    <div class="container-fluid">
        <a href="/TaiKhoan/TaiKhoan" type="button" class="btn btn-danger w-25" style="background: #fc727a; color: white">Thêm tài khoản</a>
        <hr />
        <table class="table table-striped">
            <tr>
                <td>
                    STT
                </td>
                <th>
                    <span>Tên người dùng</span>
                </th>
                <th>
                    <span>Email</span>
                </th>
                <th>
                    <span>Mật khẩu</span>
                </th>
                <th>
                    <span>Ngày tạo</span>
                </th>
                <th>Tùy chọn</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @index
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.TenND)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Email)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatKhau)
                    </td>
                    <td>
                        @item.NgayTao.Value.ToLongDateString()
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Admin_ThanhVien", new { id = item.MaND })"><i class="fa fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#@xoa@item.MaND"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                index++;

                <!-- Modal -->
                <div class="modal fade" id="@xoa@item.MaND" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: red">Xác nhận</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bạn chắc chắn muốn xóa thanh viên này ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 60%">Đóng</button>
                                <a href="@Url.Action("DeleteConfirmed", "Admin_ThanhVien", new { id = item.MaND})" type="button" class="btn btn-danger" style="background: #fc727a; color: white">Xác nhận</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </table>
        <center>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </center>
    </div>
</div>

