@using Music_pv.Models;
@model DSNhac
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/Layout.cshtml";
}

    <div style=" width: 100%; height: 1000px;">
        <b style="font-size: 25px; margin-left: 5%">@Model.TenBaiHat</b>
        <b style="font-size: 25px; float: right; margin-right: 5%"><i class="fas fa-music">&nbsp;</i>@Model.LuotNghe</b>
        <center style="margin-top: 3%">
            <div style="background-color: black; width: 90%;height: 300px;border-radius: 5px 5px 0px 0px;background-image: url('../../Image/pngtree-black-gold-beautiful-picture-goldcolorfultechnologybannerlight-and-shadow-image_62344.jpg');">
                <img src="@Url.Content("~/Image/BaiHat/" + Model.HinhBaiHat)" alt="" style="width: 30%; height: 270px; float: left; margin-top: 1%; margin-left: 2%; box-shadow: 5px 5px 5px 5px" />
                <div>
                    <img src="@Url.Content("~/Image/imgCaSy/" + Model.DSCaSy.HinhCaSy)" alt="" style="width: 80px; height: 80px; float: right; border-radius:100%;margin-right: 30%; margin-top: 3%" />
                    
                </div>
            </div>
            <div>
                <audio controls="controls" style="width: 90%; background-color: black; border-radius: 0px 0px 33px 33px" autoplay="autoplay">
                    <source src="~/LinkNhac/@Model.LinkNhac" type="audio/mpeg" style="" />
                </audio>
            </div>
        </center>
        <br />
        <center>
            @if (Session["flag"] != null)
            {
                <a href="@Url.Action("ThemVaoList", "BoSuuTap", new { @id = Model.IDNhac })" onclick="return confirm('Thêm thành công')"> <i class="fas fa-heart" style="font-size: 25px;"><span style="font-size: 15px;">Thêm vào</span></i></a>
            }
            else
            {
                <a href="#small-dialog2" class="play-icon popup-with-zoom-anim"> <i class="fas fa-heart" style="font-size: 25px;"><span style="font-size: 15px;">Thêm vào</span></i></a>
            }
            &nbsp; &nbsp;
            <a href="/LinkNhac/@Model.LinkNhac"> <i class="fas fa-download" style="font-size: 25px;"><span style="font-size: 15px;">Tải về</span></i></a>
            &nbsp; &nbsp;
            <a href="#"> <i class="fas fa-share-alt" style="font-size: 25px;"><span style="font-size: 15px;">Chia sẻ</span></i></a>
            <ul class="list-group" style="margin-top: 5%">
                <li class="list-group-item active" style="font-size: 20px">Lời bài hát: @Model.TenBaiHat<br />Nhạc sỹ: không có</li>
                <li class="list-group-item">@Model.LoiBaiHat</li>
            </ul>
        </center>
    </div>
@Html.Action("Index", "BinhLuans", new { @id = Model.IDNhac })
<div id="small-dialog2" class="mfp-hide">
    <h3>Đăng nhập</h3>
    <div class="social-sits">
        <div class="facebook-button">
            <a href="#">Đăng nhập bằng Facebook</a>
        </div>
        <div class="chrome-button">
            <a href="#">Đăng nhập bằng Google &nbsp;&nbsp;&nbsp;</a>
        </div>
        <div class="button-bottom">
            <p>Bạn chưa có tài khoản? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Đăng ký</a></p>
        </div>
    </div>
    <div class="signup">
        <form action="@Url.Action("DangNhap", "DangNhap")" method="post">
            <input type="text" class="email" placeholder="Tên đăng nhập" name="txtTaiKhoan" />
            <input type="password" class="email" placeholder="Mật khẩu" name="txtMatKhau" />
            <button class="btn btn-danger">ĐĂNG NHẬP</button>
            <div class="forgot">
                <a href="#">Quên mật khẩu ?</a>
            </div>
        </form>
    </div>
    <div class="clearfix"> </div>
</div>
